#two {
    grid-column: 1 / 6;
    grid-row: 4 / 5;
}
#three {
    grid-column: 1 / 6;
    grid-row: 2 / 4;
}
#four {
    grid-column: 1 / 6;
    grid-row: 5;
}
.project{
    margin: 20px;
}

#three img{
    width: 100%;
}

header h1 {
    font-size: 1.25em;
}

video{
    width: 300px;
    height: 169px;
}

p{
    font-size: 0.9em;
}