@font-face {
    font-family: 'Poppins';
    src:url('poppins-regular.ttf') format('ttf'),
        url('poppins-regular.ttf') format('ttf'),
        url('poppins-regular.ttf') format('ttf'),
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

#wrapper {
    margin: 0 auto;
    max-width: 1300px;
}

:root{
    --bkgrd_firstBlue: #b4bff4;
    --bkgrd_secondBlue: #8c9eea;
    --bkgrd_thirdBlue:#255cdb;
    --bkgrd_fourthBlue: #1e4bc5;
    --bkgrd_fifthBlue:#163baf;
}

#flex-container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 5%;
}

.project{
    background-color: var(--bkgrd_firstBlue);
    margin: 20px;
    border-radius: 5px;
    border: 2px solid;
}

.display_section{
    margin-bottom: 5%;
}
section{
    margin: 0 3%;
}

main h1{
    margin: 3%;
}
.project li{
    list-style: none;
    text-align: center;
}

footer{
    text-align: center;
    padding: 30px;
}

#written_stuff{
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(5%, auto);
    margin: 20px;
    display: grid;
    gap: 10px;
}

p{
    display: inline;
}

#one h1{
    padding: 10px;
}

#one {
    grid-column: 2 / 5;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#two{
    place-self:center;
}

#three {
    place-self: center;
}
#four {
    place-self: center;
}

header{
    background-color: var(--bkgrd_secondBlue);
    padding: 10px;
    position: sticky; 
    top: 0;
    z-index: 99;
    box-shadow: 2px 5px 10px black;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 50px;
    height: auto;
    padding: 0 5px;
}
a {
    text-decoration: none;
}


#tags{
    padding: 0 30px;
    float: right;
    display: flex;
    align-items: center;

}

button{
    padding: 20px;
    border-radius: 10px;
    background-color: #fffceb;
    font-family: 'Poppins', sans-serif;
}

#three{
    display:flex;
}
#three img{
    max-width: 450px;
    height: auto;
    border-radius: 5px;
    border: 2px solid;
    margin: 0 auto;
}

#title_1{
    background-color: var(--bkgrd_secondBlue);
    text-align: center;
    margin: 3% 0;
}

.project_name{
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
}

